<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/pages/cv.html">CV</a></li>
    <li>
      <a href="#">Enseignement</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/pages/agreg.html">Agrégation</a>
          <ul>
            <li><a href="{{ site.baseurl }}/pages/lecons_physique.html">Leçons – Physique</a></li>
            <li><a href="#">Leçons – Chimie</a></li>
            <li><a href="#">Leçons – Général</a></li>
            <li><a href="{{ site.baseurl }}/pages/cours_agreg.html">Cours</a></li>
            <li><a href="{{ site.baseurl }}/pages/ressources.html">Ressources diverses</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/pages/college.html">Collège</a></li>
        <li><a href="{{ site.baseurl }}/pages/lycee.html">Lycée</a></li>
        <li><a href="{{ site.baseurl }}/pages/fac.html">Université</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/pages/research.html">Recherche</a></li>
    <li><a href="{{ site.baseurl }}/pages/perso.html">Projets Annexes</a></li>
  </ul>
</nav>
